@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
	
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #dbdbdb;
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
  }